// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2016 - 2023 National Instruments
 */

/dts-v1/;
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include "zynq-niexpio-4port.dtsi"

/ {
	model = "NI cRIO-9805";
	compatible = "ni,coralreef", "xlnx,zynq-7000";

	leds {
		compatible = "gpio-leds";

		/* LED_STATUSy on GPIO46 */
		led-0 {
			label = "nilrt:status:yellow";
			gpios = <&gpio0 46 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		/* LED_POWERb on GPIO47 */
		led-1 {
			label = "nilrt:status:blue";
			gpios = <&gpio0 47 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		/* Reset switch is on GPIO48 */
		button-0 {
			label = "reset_sw";
			gpios = <&gpio0 48 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	gpio_restart {
		compatible = "gpio-restart";

		/* ~PS_FORCE_RESET is on GPIO44 */
		gpios = <&gpio0 44 GPIO_ACTIVE_LOW>;
		priority = <200>;
	};
};

&gem0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	tmp451@4c {
		compatible = "ti,tmp451";
		reg = <0x4c>;
		vcc-supply = <&regulator_vccpint>;
	};
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
};

&watchdog0 {
	status = "okay";
	reset-on-timeout;
};
